{
    "extends": ["react-app", "react-app/jest", "plugin:prettier/recommended", "prettier", "eslint:recommended"],
    "plugins": ["prettier", "react"],
    "rules": {
        "prettier/prettier": ["error", { "singleQuote": true }]
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "@babel/eslint-parser"
}